body {
  background-image: url(unknown.png);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:right bottom;
  background-size: 100%;
}

#pong{
  border: 2px solid #FFF;
  position: absolute;
  margin :auto;
  top:250px;
  right:0;
  left:725px;
  bottom:0;
}